apiVersion: autoscaling.x-k8s.io/v1alpha1
kind: StartupCPUBoost
metadata:
  name: boost-resources

selector:
  matchExpressions:
    - key: app
      operator: In
      values:
        - "product-service-app"
        - "user-service-app"
        - "cart-service-app"
        - "order-service-app"
        - "frontend-app"
        - "zipkin"
        - "mysql"
spec:
  resourcePolicy:
    containerPolicies:
      - containerName: ".*"
        fixedResources:
          limits: "1"
          requests: "1"

  durationPolicy:
    fixedDuration:
      unit: Seconds
      value: 60