apiVersion: autoscaling.x-k8s.io/v1alpha1
kind: StartupCPUBoost
metadata:
  name: boost-resources

spec:
  selector:
    matchExpressions:
      - key: app
        operator: In
        values:
          - "product-service-app"
          - "user-service-app"
          - "cart-service-app"
          - "order-service-app"
          - "mysql"

  resourcePolicy:
    - containerName: ".*"
      fixedResources:
        limits:
          cpu: "1"

  durationPolicy:
    podCondition:
      unit: Seconds
      value: 180
