apiVersion: autoscaling.x-k8s.io/v1alpha1
kind: StartupCPUBoost
metadata:
  name: boost-resources

selector:
  matchExpressions:
    - key: app
      operator: In
      values:
        - "product-service-app"
        - "user-service-app"
        - "cart-service-app"
        - "order-service-app"
        - "mysql"
spec:
  resourcePolicy:
    containerPolicies:
      - containerName: ".*"
        fixedResources:
          limits: "500m"
          requests: "500m"

  durationPolicy:
    podCondition:
      type: Ready
      status: "True"